.container
  position: relative

.dimmer
  position: fixed
  background-color: rgba(0, 0, 0, 0.87)
  top: 0
  left: 0
  width: 100%;
  height: 100%;
  z-index: 1;

.modal
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  max-width: 700px
  padding: 1rem
  border-radius: 0.5rem
  box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5)
  color: #333;
  position: relative;
  z-index: 2;
  background-color: #efefef;

.modalTitle
  margin-top: 0

@media screen and (min-width: 800px)
  .modal
    min-width: 700px;